/* AdminDashboard.module.css */
.container {
  display: flex;
  /* padding:6px; */
}

.sidebar {
  width: 250px;
  /* background-color: #f3f4f6; */
  height: 100vh;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease-in-out;
  height: auto;
}

.sidebar.collapsed {
  width: 80px;
}

.sidebarItem {
  padding: 1rem;
  cursor: pointer;
  /* border-bottom: 1px solid #ddd; */
  display: flex;
  align-items: center;
  padding-bottom: 18px;
  margin-bottom: 15px;
  border-radius: 10px;
}
.toggleIcon:hover {
  background-color: #e5e7eb;
  border-radius: 30px;
}

.sidebarItem:hover {
  background-color: #e5e7eb;
  border-radius: 10px;
}

.sidebarItemText {
  margin-left: 10px;
}

.mainContent {
  flex: 1;
  /* padding: 1rem; */
}

.header {
  height: 4.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 19%;
  object-fit: contain;
}

.searchWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 27px;
}

.searchInput {
  padding-left: 0.5rem;
  border-radius: 0.375rem;
  /* border: 2px solid #3b82f6; */
  border-color: #eca73f;
  outline: none;
}

.searchInput:hover {
  border-color: #f1a64d;
}

/* .profileIconWrapper {
  padding: 0.5rem;
  margin-right: 0.75rem;
  margin-bottom: 4px;
  color: #eca73f;
} */
.profileIconWrapper {
  position: relative;
  cursor: pointer;
  color: #eca73f;
}

.profileModal {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 8px;
  width: 200px;
  z-index: 10;
}

.profileModal::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 20px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.userName {
  margin: 0;
  font-size: 20px;
  color: #333;
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.logoutButton {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
  margin-bottom: 25px;
  width: 100%;
  padding: 8px;
  background-color: #eca73f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.logoutButton:hover {
  background-color: #f1a64d;
  font-weight: bold;
}

.active {
  background-color: #f0f0f0;
  font-weight: bold;
  color: #eca73f;
}

/* Table Css */

.tableContainer {
  overflow-y: auto;
  margin: 20px;
  margin-bottom: 0px;
  max-height: 510px;
  position: relative;
}

.customTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  text-align: left;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  table-layout: fixed;
}

.customTable th,
.customTable td {
  padding: 12px 15px;
}

.customTable th {
  background-color: #ececec;
  color: #333;
  font-weight: bold;
  border-bottom: 2px solid #d6d6d6;
  position: sticky;
  top: 0;
  z-index: 1;
}

.customTable tbody {
  display: block;
  overflow-y: auto;
  max-height: 460px;
  white-space: pre-wrap;
  word-break: break-word;
}

.customTable tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-bottom: 1px solid #d6d6d6;
}

.customTable tr:nth-child(even) {
  background-color: #f4f4f4;
}

.customTable tr:hover {
  background-color: #f1f1f1;
}

.customTable td {
  color: black;
}

.customTable tr:last-child {
  border-bottom: none;
}

.customTable tbody::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}

.customTable tbody::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

.customTable tbody::-webkit-scrollbar-thumb {
  background-color: #eca73f;
  border-radius: 5px;
  border: 2px solid #f1f1f1;
}

.customTable tbody::-webkit-scrollbar-thumb:hover {
  background-color: #f1a64d;
}
