.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f4efef;
  min-width: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: black;
  list-style-type: disc;
}
.dropdown-content a :hover {
  display: block;
  text-decoration: underline;
}
.dropdown-content ul li {
  /* list-style-type: disc; */
  margin: 0;
  padding: 4.5px;
}
.dropdown-content ul li:hover {
  color: rgb(222, 65, 65);
}
.header-section {
  background-color: rgb(236, 167, 63);
  height: 38px;
}

.nav_ul li {
  padding: 0 0.6rem;
}

.nav_ul a {
  font-size: 1.05rem;
  color: #000 !important;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.btn1 {
  border: 0;
  padding: 0.5rem 1.8rem;
  color: #fff;
  background-color: #01193c;
}

#flexbox-logo {
  display: grid;
  grid-template-columns: 2fr 10fr;
  background-color: white;
}

.logoimg img {
  height: 100px;
  padding: 15px;
}

#responsive-headerdrop {
  position: absolute;
  right: 0;
  margin-top: 80px;
  z-index: 1000;
  background-color: rgb(215, 237, 251);
  border-radius: 10px;
  width: 250px;
  color: #000;
}

#responsive-headerdrop .responsive-item:hover {
  background-color: #20314a;
  border-radius: 5px;
  color: white;
  padding: 5 px;
}

.header-item-flex {
  display: grid;
  gap: 11rem;
  grid-template-columns: 1fr 1fr;
}
/* Navbar */
.sticky-top {
  top: -150px;
  transition: 0.5s;
}

.navbar {
  height: 80px;
  margin-top: -5px;
}

.navbar .navbar-nav .nav-link {
  gap: 5px;
  padding: 0;
  outline: none;
  display: flex;
  margin-right: 35px;
  align-items: center;
  color: black;
  font-weight: 500;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: rgb(72, 72, 224);
}
.dropdown-item:hover {
  background-color: aquamarine !important;
  /* color: #212529 !important; */
}
@media (max-width: 991.98px) {
  .navbar .navbar-nav {
    padding: 0 15px;
    background: var(--themeColor);
  }

  .navbar .navbar-nav .nav-link {
    margin-right: 0;
    padding: 10px 0;
  }
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    top: 150%;
    opacity: 0;
    border: none;
    margin-top: 0;
    display: block;
    transition: 0.5s;
    visibility: hidden;
  }

  .navbar .nav-item:hover .dropdown-menu {
    top: 100%;
    opacity: 1;
    transition: 0.5s;
    visibility: visible;
  }
}

/* Hero Header */
.hero-header {
  background-color: burlywood;
  background: url(../bg-hero.png) center center no-repeat;
}

@media (max-width: 768px) {
  .hero-header {
    padding-top: 3rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .hero-header {
    padding-top: 4rem;
    /* Adjust padding as needed */
  }
}
